/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.see {
  display: block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.line {
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.line-name {
  padding-bottom: 0px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.over-title, .line-name {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
  color: black;
}

@media (max-width: 767px) {
  .over-title, .line-name {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title, .line-name {
    font-size: calc(16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc(20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc(10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc(10px + 5 * (100vw / 1202));
  }
}

.three-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc(9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc(10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc(10px + 5 * (100vw / 1202));
  }
}

.middle-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .middle-text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .middle-text {
    font-size: calc(16px + 8 * (100vw / 1202));
  }
}
