@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.line-under-title {
  margin: 0 auto;
  margin-bottom: 45px;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-bottom: 90px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.over-title {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  color: black;
}

@media (max-width: 767px) {
  .over-title {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.three-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc( 9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc( 9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.unique_design {
  padding-top: 110px;
  background: url(../img/unique_design-background.png);
  background-size: cover;
  background-position: center;
}

.unique_design .wrapper .unique_design-tablet {
  top: 5px;
  left: 340px;
  display: inline-block;
  position: relative;
}

.unique_design .wrapper .unique_design-phone {
  top: 60px;
  left: 220px;
  display: inline-block;
  position: relative;
}

@media (max-width: 1202px) {
  .unique_design {
    padding-top: 70px;
  }
  .unique_design .wrapper {
    max-width: 940px;
  }
  .unique_design .wrapper .unique_design-tablet {
    width: 400px;
    left: 250px;
  }
  .unique_design .wrapper .unique_design-phone {
    width: 250px;
    left: 140px;
  }
}

@media (max-width: 940px) {
  .unique_design {
    padding-top: 50px;
  }
  .unique_design .wrapper {
    max-width: 640px;
  }
  .unique_design .wrapper .unique_design-tablet {
    width: 350px;
    left: 120px;
  }
  .unique_design .wrapper .unique_design-phone {
    width: 200px;
    top: 40px;
    left: 30px;
  }
}

@media (max-width: 640px) {
  .unique_design .wrapper {
    max-width: 470px;
  }
  .unique_design .wrapper .unique_design-tablet {
    width: 250px;
    left: 90px;
  }
  .unique_design .wrapper .unique_design-phone {
    width: 150px;
    left: 25px;
  }
}

@media (max-width: 470px) {
  .unique_design .wrapper {
    max-width: 200px;
  }
  .unique_design .wrapper .unique_design-tablet {
    width: 125px;
    left: 20px;
  }
  .unique_design .wrapper .unique_design-phone {
    width: 70px;
    top: 20px;
    left: -10px;
  }
}
