@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.see {
  display: block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.line {
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.line-name {
  padding-bottom: 0px;
}

.title {
  text-transform: uppercase;
}

.three-title-white {
  color: white !important;
}

.three-text-white {
  color: white !important;
}

.center {
  text-align: center;
}

.box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.over-title, .line-name {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
  color: black;
}

@media (max-width: 767px) {
  .over-title, .line-name {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title, .line-name {
    font-size: calc(16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc(20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc(10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc(10px + 5 * (100vw / 1202));
  }
}

.three-title, .three-title-white {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title, .three-title-white {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title, .three-title-white {
    font-size: calc(9px + 5 * (100vw / 1202));
  }
}

.three-text, .three-text-white {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text, .three-text-white {
    font-size: calc(10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text, .three-text-white {
    font-size: calc(10px + 5 * (100vw / 1202));
  }
}

.middle-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .middle-text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .middle-text {
    font-size: calc(16px + 8 * (100vw / 1202));
  }
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
  background-size: cover;
  background-position: center;
}

.latest_blog {
  padding-top: 110px;
  padding-bottom: 120px;
}

.latest_blog .wrapper .latest_blog-grid {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (380px)[3];
      grid-template-columns: repeat(3, 380px);
  -ms-grid-rows: 240px auto;
      grid-template-rows: 240px auto;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
  background-image: url(../img/latest_blog-img-girl.png);
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square {
  position: relative;
  top: 160px;
  right: 10px;
  height: 70px;
  width: 60px;
  background-image: none;
  background-color: #95e1d3;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square div, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square div, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square div {
  background-image: none;
}

@media (max-width: 767px) {
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square div p:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square div p:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square div p:nth-of-type(1) {
    font-size: calc(14px + 18.7 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square div p:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square div p:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square div p:nth-of-type(1) {
    font-size: calc(14px + 11 * (100vw / 1202));
  }
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) {
  background-image: url(../img/latest_blog-img-pc.png);
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
  background-image: url(../img/latest_blog-img-man.png);
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4) .latest_blog-grid-hr, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) .latest_blog-grid-hr, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) .latest_blog-grid-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  width: 100%;
  background-image: none;
  background-color: #e5e5e5;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4) .latest_blog-grid-social, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) .latest_blog-grid-social, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) .latest_blog-grid-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4) .latest_blog-grid-social img:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) .latest_blog-grid-social img:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) .latest_blog-grid-social img:nth-of-type(1) {
  margin-right: 5px;
  height: 14px;
  width: 22x;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4) .latest_blog-grid-social img:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) .latest_blog-grid-social img:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) .latest_blog-grid-social img:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 5px;
  height: 17px;
  width: 19px;
}

.latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4) .latest_blog-grid-social p, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) .latest_blog-grid-social p, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) .latest_blog-grid-social p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #999999;
}

@media (max-width: 1202px) {
  .latest_blog .wrapper {
    max-width: 970px;
  }
  .latest_blog .wrapper .latest_blog-grid {
    -ms-grid-columns: (303px)[3];
        grid-template-columns: repeat(3, 303px);
  }
}

@media (max-width: 940px) {
  .latest_blog {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .latest_blog .wrapper {
    max-width: 640px;
  }
  .latest_blog .wrapper .latest_blog-grid {
    -ms-grid-columns: (193px)[3];
        grid-template-columns: repeat(3, 193px);
    -ms-grid-rows: 150px auto;
        grid-template-rows: 150px auto;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
    background-image: url(../img/latest_blog-img-girl.png);
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square {
    top: 70px;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) {
    background-image: url(../img/latest_blog-img-pc.png);
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
    background-image: url(../img/latest_blog-img-man.png);
  }
}

@media (max-width: 640px) {
  .latest_blog {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .latest_blog .wrapper {
    max-width: 470px;
  }
  .latest_blog .wrapper .latest_blog-grid {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (240px auto)[3];
        grid-template-rows: repeat(3, 240px auto);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square {
    top: 160px;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(4), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (max-width: 470px) {
  .latest_blog .wrapper {
    max-width: 360px;
  }
}

@media (max-width: 360px) {
  .latest_blog .wrapper {
    max-width: 300px;
  }
  .latest_blog .wrapper .latest_blog-grid {
    -ms-grid-rows: (140px auto)[3];
        grid-template-rows: repeat(3, 140px auto);
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2), .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(1) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(2) .latest_blog-square, .latest_blog .wrapper .latest_blog-grid .latest_blog-grid-cell:nth-of-type(3) .latest_blog-square {
    top: 60px;
  }
}
