@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.see {
  display: block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.line {
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.line-name {
  padding-bottom: 0px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.over-title, .line-name {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
  color: black;
}

@media (max-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one, .meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two, .meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three {
  position: relative;
  bottom: 0px;
  right: 0px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.three-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc( 9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc( 9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.middle-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.meet_our_team {
  padding-top: 110px;
  padding-bottom: 120px;
}

.meet_our_team .wrapper .meet_our_team-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (380px)[3];
      grid-template-columns: repeat(3, 380px);
  -ms-grid-rows: (470px)[2];
      grid-template-rows: repeat(2, 470px);
  grid-gap: 30px;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind {
  background-color: #95e1d3;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one {
  background: url(../img/meet_our_team-img-one.png);
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one:hover {
  bottom: 10px;
  right: 10px;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one:hover .meet_our_team-img-in-block {
  display: block;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one .meet_our_team-img-in-block {
  display: none;
  position: relative;
  top: 35%;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-one:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/meet_our_team-img-one.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/meet_our_team-img-one.png);
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two {
  background: url(../img/meet_our_team-img-two.png);
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two:hover {
  bottom: 10px;
  right: 10px;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two:hover .meet_our_team-img-in-block {
  display: block;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two .meet_our_team-img-in-block {
  display: none;
  position: relative;
  top: 35%;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-two:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/meet_our_team-img-two.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/meet_our_team-img-two.png);
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three {
  background: url(../img/meet_our_team-img-three.png);
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three:hover {
  bottom: 10px;
  right: 10px;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three:hover .meet_our_team-img-in-block {
  display: block;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three .meet_our_team-img-in-block {
  display: none;
  position: relative;
  top: 35%;
}

.meet_our_team .wrapper .meet_our_team-img .meet_our_team-img-behind .meet_our_team-img-three:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/meet_our_team-img-three.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/meet_our_team-img-three.png);
}
