@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.see {
  display: block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.line {
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.line-name {
  padding-bottom: 0px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.over-title, .line-name {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
  color: black;
}

@media (max-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.three-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc( 9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc( 9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.middle-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(1), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(2), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(3), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(4), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(5), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(6), .some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(7) {
  background-size: cover;
  background-position: center;
}

.some_of_our_work {
  padding-top: 110px;
  padding-bottom: 0px;
}

.some_of_our_work .wrapper {
  max-width: 1202;
}

.some_of_our_work .wrapper .some_of_our_work-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 390px 390px;
      grid-template-rows: 390px 390px;
}

.some_of_our_work .wrapper .some_of_our_work-grid .target {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(1) {
  background-image: url(../img/some_of_our_work-man.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(2) {
  background-image: url(../img/some_of_our_work-roof.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(3) {
  background-image: url(../img/some_of_our_work-medusa.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(4) {
  background-image: url(../img/some_of_our_work-ceiling.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(5) {
  background-image: url(../img/some_of_our_work-bridge.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(6) {
  background-image: url(../img/some_of_our_work-open-roof.png);
}

.some_of_our_work .wrapper .some_of_our_work-grid div:nth-of-type(7) {
  background-image: url(../img/some_of_our_work-high-rise.png);
}

@media (max-width: 1202px) {
  .some_of_our_work .wrapper {
    max-width: 970px;
  }
}

@media (max-width: 940px) {
  .some_of_our_work {
    padding-top: 70px;
  }
  .some_of_our_work .wrapper {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .some_of_our_work {
    padding-top: 50px;
  }
  .some_of_our_work .wrapper {
    max-width: 470px;
  }
}

@media (max-width: 470px) {
  .some_of_our_work .wrapper {
    max-width: 360px;
  }
}

@media (max-width: 360px) {
  .some_of_our_work .wrapper {
    max-width: 300px;
  }
}
