@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.see {
  display: block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.line {
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.line-name {
  padding-bottom: 0px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.over-title, .line-name {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
  color: black;
}

@media (max-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title, .line-name {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.three-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc( 9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc( 9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.middle-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .middle-text {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.chat_coment {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f8f8f8;
}

.chat_coment .wrapper .chat_coment-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 15px 1fr 15px;
      grid-template-columns: 15px 1fr 15px;
  grid-gap: 70px;
}

.chat_coment .wrapper .chat_coment-grid .chat_coment-arrow-left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.chat_coment .wrapper .chat_coment-grid .chat_coment-arrow-right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.chat_coment .wrapper .chat_coment-grid .chat_coment-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat_coment .wrapper .chat_coment-grid .chat_coment-slider img {
  max-height: 130px;
  margin-right: 60px;
  border: solid 3px #95e1d3;
  padding: 30px;
}

.chat_coment .wrapper .chat_coment-grid .chat_coment-slider .chat_coment-slider-one .sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1202px) {
  .chat_coment {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .chat_coment .wrapper {
    max-width: 940px;
  }
}

@media (max-width: 940px) {
  .chat_coment {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .chat_coment .wrapper {
    max-width: 640px;
  }
  .chat_coment .wrapper .chat_coment-grid {
    grid-gap: 30px;
  }
  .chat_coment .wrapper .chat_coment-grid .chat_coment-slider img {
    max-height: 130px;
    margin-right: 20px;
    border: solid 3px #95e1d3;
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .chat_coment .wrapper {
    max-width: 470px;
  }
  .chat_coment .wrapper .chat_coment-grid .chat_coment-slider img {
    max-height: 130px;
    padding: 10px;
  }
}

@media (max-width: 470px) {
  .chat_coment .wrapper {
    max-width: 300px;
  }
  .chat_coment .wrapper .chat_coment-grid .chat_coment-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
