@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.over-title {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  color: black;
}

@media (max-width: 767px) {
  .over-title {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.three-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 767px) {
  .three-title {
    font-size: calc( 9px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-title {
    font-size: calc( 9px + 5 * (100vw / 1202));
  }
}

.three-text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .three-text {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .three-text {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.amazing_services {
  padding-top: 110px;
  padding-bottom: 120px;
}

.amazing_services .wrapper .amazing_services-grid-indent {
  margin-top: 65px;
}

.amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 175px;
      grid-template-rows: 175px;
  grid-column-gap: 70px;
}

.amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid .amazing_services-grid-inside {
  margin-top: 50px;
}

.amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid .amazing_services-grid-inside img {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 25px;
  float: left;
}

.amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid-between {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

@media (max-width: 1370px) {
  .amazing_services .wrapper {
    max-width: 1202px;
  }
}

@media (max-width: 1202px) {
  .amazing_services {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .amazing_services .wrapper {
    max-width: 940px;
  }
}

@media (max-width: 940px) {
  .amazing_services {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .amazing_services .wrapper {
    max-width: 640px;
  }
  .amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -ms-grid-rows: 60px;
        grid-template-rows: 60px;
    grid-column-gap: 0px;
  }
  .amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid .amazing_services-grid-inside {
    margin-top: 0px;
  }
  .amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid .amazing_services-grid-inside img {
    margin-bottom: 10px;
  }
  .amazing_services .wrapper .amazing_services-grid-indent .amazing_services-grid-between {
    display: none;
  }
}

@media (max-width: 640px) {
  .amazing_services .wrapper {
    max-width: 470px;
  }
}

@media (max-width: 470px) {
  .amazing_services .wrapper {
    max-width: 200px;
  }
}
