@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.line-under-title {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.text-under-line {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 50px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.over-title {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  color: black;
}

@media (max-width: 767px) {
  .over-title {
    font-size: calc( 16px + 13.6 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title {
    font-size: calc( 16px + 8 * (100vw / 1202));
  }
}

.title, .numbers div .wrapper .numbers-row div .numbers-number, .numbers div .wrapper .numbers-row div .numbers-text {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title, .numbers div .wrapper .numbers-row div .numbers-number, .numbers div .wrapper .numbers-row div .numbers-text {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title, .numbers div .wrapper .numbers-row div .numbers-number, .numbers div .wrapper .numbers-row div .numbers-text {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

.text-under-line {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

@media (max-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 8.5 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .text-under-line {
    font-size: calc( 10px + 5 * (100vw / 1202));
  }
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-one, .story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-two, .story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-three {
  position: relative;
  bottom: 0px;
  right: 0px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

header .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/header-background.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/header-background.png);
  background-size: cover;
  background-position: center;
}

header .gradient .wrapper nav {
  z-index: 1000;
  top: 30px;
  position: absolute;
  width: 100%;
}

header .gradient .wrapper nav .a .logo {
  font: bold 30px "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 767px) {
  header .gradient .wrapper nav .a .logo {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper nav .a .logo {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

header .gradient .wrapper nav #menu {
  display: none;
}

header .gradient .wrapper nav #menu:checked ~ ul {
  display: block;
}

header .gradient .wrapper nav .burger {
  position: relative;
  display: none;
  height: 40px;
  width: 40px;
}

header .gradient .wrapper nav .burger img {
  width: 40px;
}

header .gradient .wrapper nav ul {
  max-width: 1000px;
  position: relative;
  bottom: 30px;
  left: 450px;
}

header .gradient .wrapper nav ul li {
  display: inline-block;
  margin-left: 55px;
}

header .gradient .wrapper nav ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 767px) {
  header .gradient .wrapper nav ul li a {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper nav ul li a {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .gradient .wrapper nav ul li a:hover {
  padding-bottom: 10px;
  border-bottom: solid 3px #fce38a;
  color: #fce38a;
}

header .gradient .wrapper .big-over-title {
  padding-top: 220px;
  padding-bottom: 40px;
  font-family: "Kaushan Script", cursive;
  color: white;
}

@media (max-width: 767px) {
  header .gradient .wrapper .big-over-title {
    font-size: calc( 15px + 96.9 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper .big-over-title {
    font-size: calc( 15px + 57 * (100vw / 1202));
  }
}

header .gradient .wrapper .big-title {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 70px;
  text-transform: uppercase;
  line-height: 140px;
  color: white;
}

@media (max-width: 767px) {
  header .gradient .wrapper .big-title {
    font-size: calc( 30px + 204 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper .big-title {
    font-size: calc( 30px + 120 * (100vw / 1202));
  }
}

header .gradient .wrapper .line-one-header {
  height: 3px;
  width: 60px;
  background-color: white;
}

header .gradient .wrapper .btn-header {
  margin-top: 50px;
  margin-bottom: 160px;
  display: inline-block;
  padding: 12px 30px;
  border: solid 2px white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 767px) {
  header .gradient .wrapper .btn-header {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper .btn-header {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .gradient .wrapper .lines-two-header {
  padding-bottom: 30px;
}

header .gradient .wrapper .lines-two-header div {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0px 15px;
  display: inline-block;
  height: 3px;
  width: 100%;
  max-width: 260px;
  background-color: white;
}

header .gradient .wrapper .lines-two-header div p {
  display: inline-block;
}

@media (max-width: 767px) {
  header .gradient .wrapper .lines-two-header div p {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper .lines-two-header div p {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .gradient .wrapper .lines-two-header div p span {
  font-weight: bold;
}

@media (max-width: 767px) {
  header .gradient .wrapper .lines-two-header div p span {
    font-size: calc( 10px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .gradient .wrapper .lines-two-header div p span {
    font-size: calc( 10px + 10 * (100vw / 1202));
  }
}

header .gradient .wrapper .lines-two-header div:hover {
  background: linear-gradient(90deg, #f38181 35%, white 0px);
}

@media (max-width: 1370px) {
  header .gradient .wrapper {
    max-width: 1202px;
  }
  header .gradient .wrapper .big-over-title {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  header .gradient .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
  header .gradient .wrapper .lines-two-header div p span {
    font-weight: bold;
  }
}

@media (max-width: 1370px) and (max-width: 767px) {
  header .gradient .wrapper .lines-two-header div p span {
    font-size: calc( 10px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (max-width: 1370px) and (min-width: 767px) {
  header .gradient .wrapper .lines-two-header div p span {
    font-size: calc( 10px + 10 * (100vw / 1202));
  }
}

@media (max-width: 1202px) {
  header .gradient .wrapper {
    max-width: 940px;
  }
  header .gradient .wrapper nav ul li {
    margin-left: 20px;
  }
  header .gradient .wrapper .line-one-header {
    margin-top: 140px;
    margin-bottom: 30px;
  }
  header .gradient .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
  header .gradient .wrapper .lines-two-header {
    text-align: center;
  }
  header .gradient .wrapper .lines-two-header div {
    text-align: left;
    max-width: 200px;
  }
}

@media (max-width: 940px) {
  header .gradient .wrapper {
    max-width: 600px;
  }
  header .gradient .wrapper nav ul {
    left: 250px;
  }
  header .gradient .wrapper nav ul li {
    margin-left: 10px;
  }
  header .gradient .wrapper .big-title {
    padding-bottom: 0px;
    line-height: 100px;
  }
  header .gradient .wrapper .line-one-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  header .gradient .wrapper .btn-header {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 8px 20px;
  }
  header .gradient .wrapper .lines-two-header div {
    max-width: 110px;
  }
}

@media (max-width: 640px) {
  header .gradient .wrapper {
    max-width: 400px;
  }
  header .gradient .wrapper nav {
    position: fixed;
  }
  header .gradient .wrapper nav .burger {
    position: relative;
    bottom: 35px;
    left: 350px;
    display: block;
  }
  header .gradient .wrapper nav ul {
    left: 180px;
    padding-left: 0px;
    display: none;
    bottom: 0px;
  }
  header .gradient .wrapper nav ul li {
    display: block;
    margin: 10px 0px;
    margin-left: 0px;
  }
}

@media (max-width: 470px) {
  header .gradient .wrapper {
    max-width: 300px;
  }
  header .gradient .wrapper nav .burger {
    left: 250px;
  }
}

.story_about_us {
  margin-top: 90px;
  margin-bottom: 110px;
}

.story_about_us .wrapper .story_about_us-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind {
  margin: 0px 15px;
  height: 250px;
  width: 380px;
  background-color: #95e1d3;
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-in:hover {
  position: relative;
  bottom: 10px;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat;
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat;
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-one {
  background: url(../img/story_about_us-img-one.png);
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-one:hover {
  bottom: 10px;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/story_about_us-img-one.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/story_about_us-img-one.png);
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-two {
  background: url(../img/story_about_us-img-two.png);
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-two:hover {
  bottom: 10px;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/story_about_us-img-two.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/story_about_us-img-two.png);
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-three {
  background: url(../img/story_about_us-img-three.png);
}

.story_about_us .wrapper .story_about_us-img .story_about_us-img-behind .story_about_us-img-three:hover {
  bottom: 10px;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))) no-repeat, url(../img/story_about_us-img-three.png);
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)) no-repeat, url(../img/story_about_us-img-three.png);
}

@media (max-width: 1370px) {
  .story_about_us .wrapper {
    max-width: 1202px;
  }
}

@media (max-width: 1202px) {
  .story_about_us .wrapper {
    max-width: 940px;
  }
}

@media (max-width: 940px) {
  .story_about_us .wrapper {
    max-width: 640px;
  }
  .story_about_us .wrapper .story_about_us-img .story_about_us-img-behind {
    height: 125px;
  }
}

@media (max-width: 640px) {
  .story_about_us {
    margin-top: 70px;
    margin-bottom: 90px;
  }
  .story_about_us .wrapper {
    max-width: 470px;
  }
  .story_about_us .wrapper .story_about_us-img {
    display: block;
  }
  .story_about_us .wrapper .story_about_us-img .story_about_us-img-behind {
    position: relative;
    margin: 30px auto;
    width: 380px;
    height: 250px;
  }
}

@media (max-width: 470px) {
  .story_about_us {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .story_about_us .wrapper {
    max-width: 320px;
  }
  .story_about_us .wrapper .story_about_us-img .story_about_us-img-behind {
    margin: 15px auto;
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 360px) {
  .story_about_us {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.numbers div {
  background-color: #95e1d3;
}

.numbers div .wrapper .numbers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers div .wrapper .numbers-row div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.numbers div .wrapper .numbers-row div .numbers-number {
  padding-bottom: 0px;
  font-weight: bold;
  color: white;
}

@media (max-width: 767px) {
  .numbers div .wrapper .numbers-row div .numbers-number {
    font-size: calc( 25px + 79.9 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .numbers div .wrapper .numbers-row div .numbers-number {
    font-size: calc( 25px + 47 * (100vw / 1202));
  }
}

.numbers div .wrapper .numbers-row div .numbers-text {
  padding-bottom: 0px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 767px) {
  .numbers div .wrapper .numbers-row div .numbers-text {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .numbers div .wrapper .numbers-row div .numbers-text {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

.numbers div .wrapper .numbers-row .numbers-line {
  border-left: solid 1px white;
  border-right: solid 1px white;
}

@media (max-width: 1370px) {
  .numbers div .wrapper {
    max-width: 1202px;
  }
}

@media (max-width: 1202px) {
  .numbers div .wrapper {
    max-width: 970px;
  }
  .numbers div .wrapper .numbers-row div {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .numbers div .wrapper .numbers-row div .numbers-text {
    padding-bottom: 0px;
  }
}

@media (max-width: 940px) {
  .numbers div .wrapper {
    max-width: 640px;
  }
  .numbers div .wrapper .numbers-row div {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 640px) {
  .numbers div .wrapper {
    max-width: 470px;
  }
  .numbers div .wrapper .numbers-row div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 470px) {
  .numbers div .wrapper {
    max-width: 360px;
  }
}

@media (max-width: 360px) {
  .numbers div .wrapper {
    max-width: 300px;
  }
}
