//! $variables
$font-one: "Montserrat", sans-serif;
$font-two: "Kaushan Script", cursive;
$font-three: "Roboto", sans-serif;

$color-write: white;
$color-black: black;
$color-black-light: #333333;
$color-red: #f38181;
$color-yellow: #fce38a;
$color-gray: #999999;
$color-blue: #95e1d3;

$gradient: linear-gradient(rgba($color-red, 0.9), rgba($color-yellow, 0.9))
    no-repeat;
//! all
$maxWidth: 1202;
/*
1370 = 1202
1202 = 940
940 = 640
640 = 470
470 = 320
*/
.wrapper {
    max-width: 1202px;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
.hidden {
    display: none;
}
.see {
    display: block;
}
.line-under-title {
    margin: 0 auto;
    height: 3px;
    width: 60px;
    background-color: $color-red;
}
.line {
    height: 3px;
    width: 60px;
    background-color: $color-red;
}

//! fonts
.text-under-line {
    max-width: 960px;
    margin: 0px auto;
    padding: 0 50px;
    padding-top: 40px;
    padding-bottom: 90px;
    @extend %text;
}
.over-title {
    @extend %over-title;
}
.line-name {
    @extend %over-title;
    padding-bottom: 0px; //todo Не работает
}
.middle-text {
    @extend %middle-text;
}
.title {
    @extend %title;
    text-transform: uppercase;
}
.three-title {
    @extend %three-title;
}
.three-text {
    @extend %three-text;
}
.center {
    text-align: center;
}
//! @mixim
//$maxWidth: 1202;
//@include adaptiv-font(max, min);

@mixin adaptiv-font($pcSize, $modSize) {
    $addSize: $pcSize - $modSize;
    $addModSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addModSize} * ((100vw - 320px) / #{$maxWidth})
        );
    }
    @media (min-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addSize} * (100vw / #{$maxWidth})
        );
    }
}
@mixin story_about_us-img-hover() {
    &:hover {
        bottom: 10px;
        right: 10px;
    }
    &:hover .story_about_us-img-in-block {
        display: block;
    }
    .story_about_us-img-in-block {
        display: none;
        position: relative;
        top: 35%;
        img {
            margin: 0 auto;
            padding-bottom: 10px;
        }
        p {
            text-align: center;
            @include adaptiv-font(18, 14);
            font-family: $font-one;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-write;
        }
    }
}

//! @extend
%over-title {
    padding-bottom: 25px;
    font-family: $font-two;
    font-weight: lighter;
    @include adaptiv-font(24, 16);
    color: $color-black;
}
%title {
    padding-bottom: 40px;
    font-family: $font-one;
    @include adaptiv-font(30, 20);
    color: $color-black;
}
%text {
    font-family: $font-three;
    @include adaptiv-font(15, 10);
    color: $color-gray;
}
%story_about_us-img-in {
    position: relative;
    bottom: 0px;
    right: 0px;
    transition-duration: 1s;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
%three-title {
    font-family: $font-one;
    @include adaptiv-font(14, 9);
    text-transform: uppercase;
    color: $color-black-light;
}
%three-text {
    font-weight: 400;
    font-family: $font-three;
    @include adaptiv-font(15, 10);
    color: $color-gray;
}
%middle-text {
    font-weight: 400;
    font-family: $font-three;
    @include adaptiv-font(24, 16);
    color: $color-gray;
}
