@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! logos
.logos {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $color-light-gray;
    .wrapper {
        max-width: $maxWidth;
    }
}
//! @media
@media (max-width: 1370px) {
    .logos {
        .wrapper {
        }
    }
}
@media (max-width: 1202px) {
    .logos {
        .wrapper {
            max-width: 970px;
        }
    }
}
@media (max-width: 940px) {
    .logos {
        .wrapper {
            max-width: 640px;
        }
    }
}
@media (max-width: 640px) {
    .logos {
        .wrapper {
            max-width: 470px;
        }
    }
}
@media (max-width: 470px) {
    .logos {
        .wrapper {
            max-width: 360px;
        }
    }
}
@media (max-width: 360px) {
    .logos {
        .wrapper {
            max-width: 300px;
        }
    }
}
