@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! what_we_do
.what_we_do {
    padding-top: 60px;
    padding-bottom: 120px;
    .wrapper {
    }
}

//! @media
@media (max-width: 1202px) {
    .what_we_do {
        padding-top: 70px;
        .wrapper {
            max-width: 940px;
        }
    }
}
@media (max-width: 940px) {
    .what_we_do {
        padding-top: 50px;
        .wrapper {
            max-width: 640px;
        }
    }
}
@media (max-width: 640px) {
    .what_we_do {
        .wrapper {
            max-width: 470px;
        }
    }
}
@media (max-width: 470px) {
    .what_we_do {
        .wrapper {
            max-width: 200px;
        }
    }
}
