@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! amazing_services
.amazing_services {
    padding: 110px 120px;
    .wrapper {
        .amazing_services-grid-indent {
            margin-top: 65px;
            .amazing_services-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 175px;
                grid-column-gap: 70px;
                .amazing_services-grid-inside {
                    margin-top: 50px;
                    img {
                        margin-top: 10px;
                        margin-bottom: 100px;
                        margin-right: 25px;
                        float: left;
                    }
                }
            }
            .amazing_services-grid-between {
                width: 100%;
                height: 1px;
                background-color: #e5e5e5;
            }
        }
    }
}
