@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! chat_coment_twoo
.chat_coment_twoo {
    padding-top: 110px;
    padding-bottom: 120px;
    .wrapper {
        .chat_coment_twoo-grid {
        }
    }
}
//! @media
@media (max-width: 1202px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 970px;
        }
    }
}
@media (max-width: 940px) {
    .chat_coment_twoo {
        padding-top: 70px;
        padding-bottom: 90px;
        .wrapper {
            max-width: 640px;
        }
    }
}
@media (max-width: 640px) {
    .chat_coment_twoo {
        padding-top: 50px;
        padding-bottom: 70px;
        .wrapper {
            max-width: 470px;
        }
    }
}
@media (max-width: 470px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 360px;
        }
    }
}
@media (max-width: 360px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 300px;
        }
    }
}
