@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss";
////////////////////////////////////////////////////////////////////
//todooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
////////////////////////////////////////////////////////////////////

//! chat_coment
.chat_coment {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f8f8f8;
    .wrapper {
        .chat_coment-grid {
            display: grid;
            align-items: center;
            grid-template-columns: 15px 1fr 15px;
            grid-gap: 70px;
            .chat_coment-arrow-left {
                transform: rotate(90deg);
            }
            .chat_coment-arrow-right {
                transform: rotate(-90deg);
            }
            .chat_coment-slider {
                display: flex;
                align-items: center;
                img {
                    //todo нужно зад прав w и h
                    max-height: 130px;
                    margin-right: 60px;
                    border: solid 3px $color-blue;
                    padding: 30px;
                }
                .chat_coment-slider-one {
                    .sa {
                        display: flex; //todo забац в
                    }
                }
            }
        }
    }
}

//! @media
@media (max-width: 1202px) {
    .chat_coment {
        padding-top: 60px;
        padding-bottom: 60px;
        .wrapper {
            max-width: 940px;
        }
    }
}
@media (max-width: 940px) {
    .chat_coment {
        padding-top: 50px;
        padding-bottom: 50px;
        .wrapper {
            max-width: 640px;
            .chat_coment-grid {
                grid-gap: 30px;
                .chat_coment-slider {
                    img {
                        //todo нужно зад прав w и h
                        max-height: 130px;
                        margin-right: 20px;
                        border: solid 3px $color-blue;
                        padding: 30px;
                    }
                    .chat_coment-slider-one {
                        .sa {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .chat_coment {
        .wrapper {
            max-width: 470px;
            .chat_coment-grid {
                .chat_coment-slider {
                    img {
                        max-height: 130px;
                        padding: 10px;
                    }
                    .chat_coment-slider-one {
                        .sa {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .chat_coment {
        .wrapper {
            max-width: 300px;
            .chat_coment-grid {
                .chat_coment-slider {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
