@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! begin
//! header
header {
    .gradient {
        background: $gradient, url(../img/header-background.png);
        background-size: cover;
        background-position: center;
        .wrapper {
            nav {
                padding-top: 30px;
                display: flex;
                z-index: 1000;
                .a {
                    .logo {
                        font: bold 30px $font-one;
                        @include adaptiv-font(30, 20);
                        color: $color-write;
                    }
                }
                #menu {
                    display: none;
                }
                #menu:checked ~ ul {
                    display: block;
                }
                .burger {
                    position: relative;
                    display: none;
                    height: 40px;
                    width: 40px;
                    img {
                        width: 40px;
                    }
                }
                ul {
                    position: relative;
                    left: 350px;
                    li {
                        display: inline-block;
                        margin-left: 50px;
                        a {
                            text-transform: uppercase;
                            font-family: $font-one;
                            @include adaptiv-font(14, 8);
                            color: $color-write;
                            &:hover {
                                padding-bottom: 10px;
                                border-bottom: solid 3px $color-yellow;
                                color: $color-yellow;
                            }
                            img {
                            }
                        }
                    }
                }
            }
            .big-over-title {
                padding-top: 220px;
                padding-bottom: 40px;
                font-family: $font-two;
                color: $color-write;
                @include adaptiv-font(72, 15);
            }
            .big-title {
                font-family: $font-one;
                padding-bottom: 70px;
                @include adaptiv-font(150, 30);
                text-transform: uppercase;
                line-height: 140px;
                color: $color-write;
            }
            .line-one-header {
                height: 3px;
                width: 60px;
                background-color: $color-write;
            }
            .btn-header {
                margin-top: 50px;
                margin-bottom: 160px;
                display: inline-block;
                padding: 12px 30px;
                border: solid 2px $color-write;
                font-family: $font-one;
                text-transform: uppercase;
                @include adaptiv-font(14, 8);
                color: $color-write;
            }
            .lines-two-header {
                padding-bottom: 30px;
                div {
                    font-family: $font-one;
                    text-transform: uppercase;
                    color: $color-write;
                    p {
                        @include adaptiv-font(14, 8);
                        display: inline-block;
                        span {
                            @include adaptiv-font(20, 10);
                            font-weight: bold;
                        }
                    }
                    margin: 0px 15px;
                    display: inline-block;
                    height: 3px;
                    width: 100%;
                    max-width: 260px;
                    background-color: $color-write;
                    &:hover {
                        background: linear-gradient(
                            90deg,
                            $color-red 35%,
                            $color-write 0px
                        );
                    }
                }
            }
        }
    }
}
//! @media
@media (max-width: 1370px) {
    //! 1202
    header {
        .gradient {
            .wrapper {
                max-width: 1202px;
                .big-over-title {
                    padding-top: 140px;
                    padding-bottom: 30px;
                }
                .big-title {
                }
                .line-one-header {
                }
                .btn-header {
                    margin-top: 50px;
                    margin-bottom: 100px;
                    padding: 12px 30px;
                }
                .lines-two-header {
                    div {
                        p {
                            span {
                                @include adaptiv-font(20, 10);
                                font-weight: bold;
                            }
                        }
                        &:hover {
                        }
                    }
                }
                .lines-two-text-header {
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1202px) {
    //! 940
    header {
        .gradient {
            .wrapper {
                max-width: 940px;
                nav {
                    ul {
                        li {
                            margin-left: 20px;
                            a {
                                img {
                                }
                            }
                        }
                    }
                }
                .big-over-title {
                }
                .big-title {
                }
                .line-one-header {
                    margin-top: 140px;
                    margin-bottom: 30px;
                }
                .btn-header {
                    margin-top: 50px;
                    margin-bottom: 100px;
                    padding: 12px 30px;
                }
                .lines-two-header {
                    text-align: center;
                    div {
                        text-align: left;
                        max-width: 200px;
                        p {
                            span {
                            }
                        }
                        &:hover {
                        }
                    }
                }
                .lines-two-text-header {
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 940px) {
    header {
        .gradient {
            .wrapper {
                max-width: 600px;
                nav {
                    ul {
                        left: 130px;
                        li {
                            margin-left: 10px;
                            a {
                                img {
                                }
                            }
                        }
                    }
                }
                .big-over-title {
                }
                .big-title {
                    padding-bottom: 0px;
                    line-height: 100px;
                }
                .line-one-header {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .btn-header {
                    margin-top: 10px;
                    margin-bottom: 50px;
                    padding: 8px 20px;
                }
                .lines-two-header {
                    div {
                        max-width: 110px;
                        p {
                            span {
                            }
                        }
                        &:hover {
                        }
                    }
                }
                .lines-two-text-header {
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    header {
        .gradient {
            .wrapper {
                max-width: 400px;
                nav {
                    display: inline;
                    position: fixed;
                    .burger {
                        position: relative;
                        bottom: 35px;
                        left: 350px;
                        display: block;
                    }
                    ul {
                        left: 165px;
                        padding-left: 0px;
                        display: none;
                        bottom: 0px;
                        li {
                            justify-content: center;
                            display: flex;
                            margin: 25px 0px;
                            margin-left: 0px;
                            a {
                                img {
                                }
                            }
                        }
                    }
                }
                .big-over-title {
                }
                .big-title {
                }
                .line-one-header {
                }
                .btn-header {
                }
                .lines-two-header {
                    div {
                        p {
                            span {
                            }
                        }
                        &:hover {
                        }
                    }
                }
                .lines-two-text-header {
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 470px) {
    header {
        .gradient {
            .wrapper {
                max-width: 300px;
                nav {
                    .burger {
                        left: 250px;
                        img {
                        }
                    }
                    ul {
                        left: 120px;
                        li {
                        }
                    }
                }
                .big-over-title {
                }
                .big-title {
                }
                .line-one-header {
                }
                .btn-header {
                }
                .lines-two-header {
                    div {
                        p {
                            span {
                            }
                        }
                        &:hover {
                        }
                    }
                }
                .lines-two-text-header {
                    p {
                        span {
                        }
                    }
                }
            }
        }
    }
}
//! story_about_us
.story_about_us {
    margin-top: 90px;
    margin-bottom: 110px;
    .wrapper {
        .story_about_us-img {
            display: flex;
            justify-content: space-between;
            .story_about_us-img-behind {
                margin: 0px 15px;
                height: 250px;
                width: 380px;
                background-color: $color-blue;
                .story_about_us-img-one {
                    @extend %story_about_us-img-in;
                    background: url(../img/story_about_us-img-one.png);
                    @include story_about_us-img-hover();
                    &:hover {
                        background: $gradient,
                            url(../img/story_about_us-img-one.png);
                    }
                }
                .story_about_us-img-two {
                    @extend %story_about_us-img-in;
                    background: url(../img/story_about_us-img-two.png);
                    @include story_about_us-img-hover();
                    &:hover {
                        background: $gradient,
                            url(../img/story_about_us-img-two.png);
                    }
                }
                .story_about_us-img-three {
                    @extend %story_about_us-img-in;
                    background: url(../img/story_about_us-img-three.png);
                    @include story_about_us-img-hover();
                    &:hover {
                        background: $gradient,
                            url(../img/story_about_us-img-three.png);
                    }
                }
            }
        }
    }
}
//! @media
@media (max-width: 1370px) {
    .story_about_us {
        .wrapper {
            max-width: 1202px;
        }
    }
}
@media (max-width: 1202px) {
    .story_about_us {
        .wrapper {
            max-width: 940px;
        }
    }
}
@media (max-width: 940px) {
    .story_about_us {
        .wrapper {
            max-width: 640px;
            .story_about_us-img {
                ////////////////////////todo 380
                .story_about_us-img-behind {
                    height: 125px;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .story_about_us {
        margin-top: 70px;
        margin-bottom: 90px;
        .wrapper {
            max-width: 470px;
            .story_about_us-img {
                display: block;
                ////////////////////////todo 380
                .story_about_us-img-behind {
                    position: relative;
                    margin: 30px auto;
                    width: 380px;
                    height: 250px;
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .story_about_us {
        margin-top: 50px;
        margin-bottom: 60px;
        .wrapper {
            max-width: 320px;
            .story_about_us-img {
                .story_about_us-img-behind {
                    margin: 15px auto;
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}
@media (max-width: 360px) {
    .story_about_us {
        margin-left: 30px;
        margin-right: 30px;
    }
}
//! numbers
.numbers {
    div {
        background-color: $color-blue;
        .wrapper {
            .numbers-row {
                display: flex;
                div {
                    flex: 1;
                    padding-top: 90px;
                    padding-bottom: 90px;
                    text-align: center;
                    .numbers-number {
                        padding-bottom: 0px;
                        @extend %title;
                        font-weight: bold;
                        @include adaptiv-font(72, 25);
                        color: $color-write;
                    }
                    .numbers-text {
                        padding-bottom: 0px;
                        @extend %title;
                        @include adaptiv-font(14, 8);
                        text-transform: uppercase;
                        color: $color-write;
                    }
                }
                .numbers-line {
                    border-left: solid 1px $color-write;
                    border-right: solid 1px $color-write;
                }
            }
        }
    }
}
//! @media
@media (max-width: 1370px) {
    .numbers {
        div {
            .wrapper {
                max-width: 1202px;
                .numbers-row {
                    div {
                        .numbers-number {
                        }
                        .numbers-text {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1202px) {
    .numbers {
        div {
            .wrapper {
                max-width: 970px;
                .numbers-row {
                    div {
                        padding-top: 90px;
                        padding-bottom: 90px;
                        .numbers-number {
                        }
                        .numbers-text {
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 940px) {
    .numbers {
        div {
            .wrapper {
                max-width: 640px;
                .numbers-row {
                    div {
                        padding-top: 60px;
                        padding-bottom: 60px;
                        .numbers-number {
                        }
                        .numbers-text {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .numbers {
        div {
            .wrapper {
                max-width: 470px;
                .numbers-row {
                    div {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        .numbers-number {
                        }
                        .numbers-text {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .numbers {
        div {
            .wrapper {
                max-width: 360px;
            }
        }
    }
}
@media (max-width: 360px) {
    .numbers {
        div {
            .wrapper {
                max-width: 300px;
            }
        }
    }
}
