@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! what_we_do
.what_we_do {
    padding-top: 60px;
    padding-bottom: 120px;
    .wrapper {
        .what_we_do-two-half {
            padding-top: 90px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            grid-template-rows: 380px;
            .what_we_do-half-one {
            }
            .what_we_do-half-two {
                details summary::-webkit-details-marker {
                    display: none;
                    summary {
                        img {
                        }
                    }
                }
            }
        }
    }
}

//! @media
@media (max-width: 1202px) {
    .what_we_do {
        padding-bottom: 90px;
        .wrapper {
            max-width: 940px;
        }
    }
}
@media (max-width: 940px) {
    .what_we_do {
        padding-top: 50px;
        padding-bottom: 70px;
        .wrapper {
            max-width: 640px;
        }
    }
}
@media (max-width: 640px) {
    .what_we_do {
        .wrapper {
            max-width: 470px;
            .what_we_do-two-half {
                padding-top: 60px;
                grid-template-columns: 1fr;
                grid-row-gap: 0px;
                grid-template-rows: 350px;
                .what_we_do-half-one {
                }
                .what_we_do-half-two {
                    details {
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .what_we_do {
        .wrapper {
            max-width: 200px;
            .what_we_do-two-half {
                grid-template-rows: 170px;
            }
        }
    }
}
