@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! some_of_our_work
.some_of_our_work {
    padding-top: 110px;
    padding-bottom: 0px;
    .wrapper {
        max-width: $maxWidth;
    }
}
//! @media
@media (max-width: 1202px) {
    .some_of_our_work {
        .wrapper {
            max-width: 970px;
        }
    }
}
@media (max-width: 940px) {
    .some_of_our_work {
        padding-top: 70px;
        .wrapper {
            max-width: 640px;
        }
    }
}
@media (max-width: 640px) {
    .some_of_our_work {
        padding-top: 50px;
        .wrapper {
            max-width: 470px;
        }
    }
}
@media (max-width: 470px) {
    .some_of_our_work {
        .wrapper {
            max-width: 360px;
        }
    }
}
@media (max-width: 360px) {
    .some_of_our_work {
        .wrapper {
            max-width: 300px;
        }
    }
}
