@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! unique_design
.unique_design {
    padding-top: 110px;
    background: url(../img/unique_design-background.png);
    background-size: cover;
    background-position: center;
    .wrapper {
        .unique_design-tablet {
            display: inline-block;
            position: relative;
            top: 100px;
            transform: translate(60%, 0%);
        }
        .unique_design-phone {
            display: inline-block;
            position: relative;
            transform: translate(60%, 10%);
        }
    }
}

//! @media
@media (max-width: 1370px) {
}
@media (max-width: 1202px) {
}
@media (max-width: 940px) {
}
@media (max-width: 640px) {
}
@media (max-width: 470px) {
}
