@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! chat_coment_twoo-img-coment.png
.chat_coment_twoo {
    padding-top: 110px;
    padding-bottom: 120px;
    .wrapper {
        .chat_coment_twoo-grid {
            padding-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 380px);
            grid-template-rows: 240px auto;
            grid-column-gap: 30px;
            grid-row-gap: 20px;
            .chat_coment_twoo-grid-cell:nth-of-type(1) {
                background-image: url(../img/chat_coment_twoo-img-girl.png);
                @extend %backg-center;
                .chat_coment_twoo-square {
                    position: relative;
                    top: 160px;
                    right: 10px;
                    height: 70px;
                    width: 60px;
                    background-image: none;
                    background-color: $color-blue;
                    div {
                        background-image: none;
                        p:nth-of-type(1) {
                            @include adaptiv-font(25, 14);
                        }
                    }
                }
            }
            .chat_coment_twoo-grid-cell:nth-of-type(2) {
                @extend .chat_coment_twoo-grid-cell:nth-of-type(1);
                background-image: url(../img/chat_coment_twoo-img-pc.png);
                @extend %backg-center;
            }
            .chat_coment_twoo-grid-cell:nth-of-type(3) {
                @extend .chat_coment_twoo-grid-cell:nth-of-type(1);
                background-image: url(../img/chat_coment_twoo-img-man.png);
                @extend %backg-center;
            }
            .chat_coment_twoo-grid-cell:nth-of-type(4) {
                .chat_coment_twoo-grid-hr {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    height: 1px;
                    width: 100%;
                    background-image: none;
                    background-color: #e5e5e5;
                }
                .chat_coment_twoo-grid-social {
                    display: flex;
                    align-items: center;
                    img:nth-of-type(1) {
                        margin-right: 5px;
                        height: 14px;
                        width: 22x;
                    }
                    img:nth-of-type(2) {
                        margin-left: 15px;
                        margin-right: 5px;
                        height: 17px;
                        width: 19px;
                    }
                    p {
                        font-family: $font-three;
                        font-weight: lighter;
                        color: $color-gray;
                    }
                }
            }
            .chat_coment_twoo-grid-cell:nth-of-type(5) {
                @extend .chat_coment_twoo-grid-cell:nth-of-type(4);
            }
            .chat_coment_twoo-grid-cell:nth-of-type(6) {
                @extend .chat_coment_twoo-grid-cell:nth-of-type(4);
            }
        }
    }
}
//! @media
@media (max-width: 1202px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 970px;
            .chat_coment_twoo-grid {
                grid-template-columns: repeat(3, 303px);
            }
        }
    }
}
@media (max-width: 940px) {
    .chat_coment_twoo {
        padding-top: 70px;
        padding-bottom: 90px;
        .wrapper {
            max-width: 640px;
            .chat_coment_twoo-grid {
                grid-template-columns: repeat(3, 193px);
                grid-template-rows: 150px auto;
                .chat_coment_twoo-grid-cell:nth-of-type(1) {
                    background-image: url(../img/chat_coment_twoo-img-girl.png);
                    .chat_coment_twoo-square {
                        top: 70px;
                    }
                }
                .chat_coment_twoo-grid-cell:nth-of-type(2) {
                    background-image: url(../img/chat_coment_twoo-img-pc.png);
                }
                .chat_coment_twoo-grid-cell:nth-of-type(3) {
                    background-image: url(../img/chat_coment_twoo-img-man.png);
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .chat_coment_twoo {
        padding-top: 50px;
        padding-bottom: 70px;
        .wrapper {
            max-width: 470px;
            .chat_coment_twoo-grid {
                grid-template-columns: repeat(1, auto);
                grid-template-rows: repeat(3, 240px auto);
                grid-column-gap: 0px;
                grid-row-gap: 20px;
                .chat_coment_twoo-grid-cell:nth-of-type(1) {
                    order: 1;
                    .chat_coment_twoo-square {
                        top: 160px;
                    }
                }
                .chat_coment_twoo-grid-cell:nth-of-type(2) {
                    order: 3;
                }
                .chat_coment_twoo-grid-cell:nth-of-type(3) {
                    order: 5;
                }
                .chat_coment_twoo-grid-cell:nth-of-type(4) {
                    order: 2;
                }
                .chat_coment_twoo-grid-cell:nth-of-type(5) {
                    order: 4;
                }
                .chat_coment_twoo-grid-cell:nth-of-type(6) {
                    order: 6;
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 360px;
            .chat_coment_twoo-grid {
            }
        }
    }
}
@media (max-width: 360px) {
    .chat_coment_twoo {
        .wrapper {
            max-width: 300px;
            .chat_coment_twoo-grid {
                grid-template-rows: repeat(3, 140px auto);
                .chat_coment_twoo-grid-cell:nth-of-type(1) {
                    order: 1;
                    .chat_coment_twoo-square {
                        top: 60px;
                    }
                }
            }
        }
    }
}
