@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss";
////////////////////////////////////////////////////////////////////
//todooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
////////////////////////////////////////////////////////////////////
.meet_our_team {
    padding-top: 110px;
    padding-bottom: 120px;
    .wrapper {
        .meet_our_team-img {
            display: grid;
            grid-template-columns: repeat(3, 380px);
            grid-template-rows: repeat(2, 470px); //todo отрегу шир и вис
            grid-gap: 31px;
            .meet_our_team-img-behind {
                background-color: $color-blue;
                .meet_our_team-img-one {
                    @extend %meet_our_team-img-in;
                    background: url(../img/meet_our_team-img-one.png);
                    @include meet_our_team-img-hover();

                    &:hover {
                        background: $gradient,
                            url(../img/meet_our_team-img-one.png);
                    }
                }
                .meet_our_team-img-two {
                    @extend %meet_our_team-img-in;
                    background: url(../img/meet_our_team-img-two.png);
                    @include meet_our_team-img-hover();

                    &:hover {
                        background: $gradient,
                            url(../img/meet_our_team-img-two.png);
                    }
                }
                .meet_our_team-img-three {
                    @extend %meet_our_team-img-in;
                    background: url(../img/meet_our_team-img-three.png);
                    @include meet_our_team-img-hover();

                    &:hover {
                        background: $gradient,
                            url(../img/meet_our_team-img-three.png);
                    }
                }
            }
        }
    }
}

//! @media
@media (max-width: 1370px) {
    .meet_our_team {
        .wrapper {
            max-width: 1202px;
        }
    }
}
@media (max-width: 1202px) {
    .meet_our_team {
        .wrapper {
            max-width: 970px;
            .meet_our_team-img {
                grid-template-columns: repeat(3, 302px);
                grid-template-rows: 350px 110px;
            }
        }
    }
}
@media (max-width: 940px) {
    .meet_our_team {
        .wrapper {
            max-width: 640px;
            .meet_our_team-img {
                grid-template-columns: repeat(3, 192px);
                grid-template-rows: repeat(2, 270px);
            }
        }
    }
}
@media (max-width: 640px) {
    .meet_our_team {
        .wrapper {
            max-width: 470px;
            .meet_our_team-img {
                .meet_our_team-img-grid-one {
                    //todo1111111111111111111111
                }
                .meet_our_team-img-grid-two {
                }
                .meet_our_team-img-grid-four {
                }
                .meet_our_team-img-grid-five {
                }
                .meet_our_team-img-grid-six {
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .meet_our_team {
        .wrapper {
            max-width: 360px;
        }
    }
}
@media (max-width: 360px) {
    .meet_our_team {
        .wrapper {
            max-width: 300px;
        }
    }
}
