//! all
$maxWidth: 1202;
.wrapper {
    max-width: 1202px;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
//! fonts
.over-title {
    @extend %over-title;
}
.title {
    @extend %title;
}
.center {
    text-align: center;
}
//! $variables
$font-one: "Montserrat", sans-serif;
$font-two: "Kaushan Script", cursive;

//! color
$color-write: white;
$color-black: black;

//! @mixim
//$maxWidth: 1202;
//@include adaptiv-font(max, min);

@mixin adaptiv-font($pcSize, $modSize) {
    $addSize: $pcSize - $modSize;
    $addModSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addModSize} * ((100vw - 320px) / #{$maxWidth})
        );
    }
    @media (min-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addSize} * (100vw / #{$maxWidth})
        );
    }
}

//! @extend
%over-title {
    padding-bottom: 25px;
    font-family: $font-two;
    font-size: 24px;
    color: $color-black;
}
%title {
    padding-bottom: 40px;
    font-family: $font-one;
    font-size: 30px;
    color: $color-black;
}
