@import "null-style.scss";
@import "general-classes.scss";

//! begin
//! header
header {
    background: url(../img/header-background.png) no-repeat center;
    .gradient {
        background: linear-gradient(#e88182, #f1d98a) no-repeat;
        opacity: 0.9;
        z-index: 1;
    }
    .logo {
        font: bold 30px $font-one;
        color: $color-write;
    }
    nav {
        margin-top: 30px;
        position: fixed;
        .d {
            float: right;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin-left: 55px;
                    a {
                        text-transform: uppercase;
                        font-family: $font-one;
                        font-size: 14px;
                        color: $color-write;
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .big-over-title {
        @extend %over-title;
        padding-top: 220px;
        padding-bottom: 35px;
        font-size: calc(72px - 1vw);
        color: $color-write;
    }
    .big-title {
        @extend %title;
        padding-bottom: 70px;
        font-size: calc(150px - 1vw);
        text-transform: uppercase;
        line-height: 140px;
        color: $color-write;
    }
    .line-one-header {
        height: 3px;
        width: 60px;
        background-color: $color-write;
    }
    .btn-header {
        margin-top: 50px;
        margin-bottom: 160px;
        display: inline-block;
        padding: 12px 30px;
        border: solid 2px $color-write;
        text-transform: uppercase;
        color: $color-write;
    }
    .lines-two-header {
        div {
            margin: 0px 15px;
            display: inline-block;
            height: 3px;
            width: 260px;
            background-color: $color-write;
            &:hover {
                background: linear-gradient(90deg, red 1%, $color-write 99%);
            }
        }
    }
    .lines-two-text-header {
        font-family: $font-one;
        text-transform: uppercase;
        color: $color-write;
        p {
            display: inline-block;
            span {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .p1 {
            margin-left: 15px;
        }
        .p2 {
            margin-left: 215px;
        }
        .p3 {
            margin-left: 205px;
        }
        .p4 {
            margin-left: 205px;
        }
    }
}
@media (max-width: 940px) {
}
@media (max-width: 640px) {
}
@media (max-width: 470px) {
}
