@import "null-style.scss";
@import "general-classes.scss";

//! begin
//! header
header {
    background: url(../img/header-background.png) no-repeat center;
    .gradient {
        background: linear-gradient(#e88182, #f1d98a) no-repeat;
        opacity: 0.9;
        z-index: 1;
    }
}
.logo {
    font: bold 30px $font-one;
    color: $color-write;
}
nav {
    margin-top: 30px;
    position: fixed;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            margin-left: 55px;
            a {
                text-transform: uppercase;
                font-family: $font-one;
                font-size: 14px;
                color: $color-write;
                img {
                    display: inline-block;
                }
            }
        }
    }
}
.nav-indent {
    margin-left: 100px;
}
.big-over-title {
    @extend %over-title;
    padding-top: 230px;
    padding-bottom: 35px;
    font-size: 72px;
    color: $color-write;
}
.big-title {
    @extend %title;
    padding-bottom: 75px;
    font-size: 150px;
    text-transform: uppercase;
    color: $color-write;
}
