@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! begin
//! header
header {
    background: url(../img/header-background.png) no-repeat center;
    .gradient {
        background: linear-gradient(#e88182, #f1d98a) no-repeat;
        opacity: 0.9;
        z-index: 1;
    }
    nav {
        top: 30px;
        position: fixed;
        width: 100%;
        .logo {
            font: bold 30px $font-one;
            @include adaptiv-font(30, 20);
            color: $color-write;
        }

        ul {
            position: relative;
            bottom: 40px;
            left: 450px;
            li {
                display: inline-block;
                margin-left: 55px;
                a {
                    text-transform: uppercase;
                    font-family: $font-one;
                    @include adaptiv-font(14, 8);
                    color: $color-write;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
        .c {
            display: none;
            #switch {
                display: none;
                &:checked ~ ul {
                    display: block;
                }
            }
            .burger {
                height: 50px;
                width: 50px;
                background-color: red;

                img {
                    width: 40px;
                }
            }
        }
    }
    .big-over-title {
        padding-top: 220px;
        padding-bottom: 40px;
        font-family: $font-two;
        color: $color-write;
        @include adaptiv-font(72, 15);
    }
    .big-title {
        font-family: $font-one;
        padding-bottom: 70px;
        @include adaptiv-font(150, 30);
        text-transform: uppercase;
        line-height: 140px;
        color: $color-write;
    }
    .line-one-header {
        height: 3px;
        width: 60px;
        background-color: $color-write;
    }
    .btn-header {
        margin-top: 50px;
        margin-bottom: 160px;
        display: inline-block;
        padding: 12px 30px;
        border: solid 2px $color-write;
        text-transform: uppercase;
        @include adaptiv-font(14, 8);
        color: $color-write;
    }
    .lines-two-header {
        div {
            font-family: $font-one;
            text-transform: uppercase;
            color: $color-write;
            p {
                @include adaptiv-font(14, 8);
                display: inline-block;
                span {
                    @include adaptiv-font(20, 10);
                    font-weight: bold;
                }
            }
            margin: 0px 15px;
            display: inline-block;
            height: 3px;
            width: 100%;
            max-width: 260px;
            background-color: $color-write;
            &:hover {
                background: linear-gradient(90deg, red 1%, $color-write 99%);
            }
        }
    }
    .lines-two-text-header {
        font-family: $font-one;
        text-transform: uppercase;
        color: $color-write;
        p {
            @include adaptiv-font(14, 8);
            display: inline-block;
            span {
                @include adaptiv-font(20, 10);
                font-weight: bold;
            }
        }
        .p1 {
            margin-left: 15px;
        }
        .p2 {
            margin-left: 215px;
        }
        .p3 {
            margin-left: 205px;
        }
        .p4 {
            margin-left: 205px;
        }
    }
}
//! @media
@media (max-width: 1370px) {
    .wrapper {
        max-width: 1202px;

        .big-over-title {
            padding-top: 140px;
            padding-bottom: 30px;
        }
        .btn-header {
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 12px 30px;
        }
    }
}
@media (max-width: 1202px) {
    .wrapper {
        max-width: 940px;

        nav {
            ul {
                li {
                    margin-left: 20px;
                }
            }
        }
        .big-over-title {
            padding-top: 140px;
            padding-bottom: 30px;
        }
        .btn-header {
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 12px 30px;
        }
    }
}

@media (max-width: 940px) {
    .wrapper {
        max-width: 600px;

        nav {
            ul {
                left: 150px;
                li {
                    margin-left: 20px;
                }
            }
        }
        .big-over-title {
            padding-top: 140px;
            padding-bottom: 30px;
        }
        .btn-header {
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 12px 30px;
        }
    }
}
@media (max-width: 640px) {
    .wrapper {
        max-width: 400px;

        nav {
            ul {
                display: none;
                li {
                    margin-left: 20px;
                }
            }
            .c {
                display: block;
                #switch {
                    display: none;
                    &:checked ~ ul {
                        display: block;
                    }
                }
                .burger {
                }
            }
        }
        .big-over-title {
            padding-top: 140px;
            padding-bottom: 30px;
        }
        .btn-header {
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 12px 30px;
        }
    }
}
@media (max-width: 470px) {
    .wrapper {
        max-width: 300px;
    }
}
