@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! begin
//! header
header {
    background: url(../img/header-background.png) no-repeat center;
    .gradient {
        background: linear-gradient(#e88182, #f1d98a) no-repeat;
        opacity: 0.9;
        z-index: 1;
    }
    .logo {
        font: bold 30px $font-one;
        @include adaptiv-font(30, 20);
        color: $color-write;
    }
    nav {
        top: 30px;
        position: fixed;
        width: 100%;
        ul {
            position: relative;
            bottom: 40px;
            left: 450px;
            li {
                display: inline-block;
                margin-left: 55px;
                a {
                    text-transform: uppercase;
                    font-family: $font-one;
                    @include adaptiv-font(14, 8);
                    color: $color-write;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .big-over-title {
        padding-top: 220px;
        font-family: $font-two;
        color: $color-write;
        @include adaptiv-font(72, 15);
    }
    .big-title {
        @extend %title;
        padding-bottom: 70px;
        @include adaptiv-font(150, 30);
        text-transform: uppercase;
        line-height: 140px;
        color: $color-write;
    }
    .line-one-header {
        height: 3px;
        width: 60px;
        background-color: $color-write;
    }
    .btn-header {
        margin-top: 50px;
        margin-bottom: 160px;
        display: inline-block;
        padding: 12px 30px;
        border: solid 2px $color-write;
        text-transform: uppercase;
        @include adaptiv-font(14, 8);
        color: $color-write;
    }
    .lines-two-header {
        div {
            font-family: $font-one;
            text-transform: uppercase;
            color: $color-write;
            p {
                @include adaptiv-font(14, 8);
                display: inline-block;
                span {
                    @include adaptiv-font(20, 10);
                    font-weight: bold;
                }
            }
            margin: 0px 15px;
            display: inline-block;
            height: 3px;
            width: 100%;
            max-width: 260px;
            background-color: $color-write;
            &:hover {
                background: linear-gradient(90deg, red 1%, $color-write 99%);
            }
        }
    }
    .lines-two-text-header {
        font-family: $font-one;
        text-transform: uppercase;
        color: $color-write;
        p {
            @include adaptiv-font(14, 8);
            display: inline-block;
            span {
                @include adaptiv-font(20, 10);
                font-weight: bold;
            }
        }
        .p1 {
            margin-left: 15px;
        }
        .p2 {
            margin-left: 215px;
        }
        .p3 {
            margin-left: 205px;
        }
        .p4 {
            margin-left: 205px;
        }
    }
}
//! @media
@media (max-width: 1360px) {
    .wrapper {
        max-width: 1202px;
        margin: 0 auto;
    }
}
@media (max-width: 1202px) {
    .wrapper {
        max-width: 940px;
    }
}

@media (max-width: 940px) {
    .wrapper {
        max-width: 600px;
    }
}
@media (max-width: 640px) {
    .wrapper {
        max-width: 400px;
    }
}
@media (max-width: 470px) {
    .wrapper {
        max-width: 300px;
    }
}
