@import "null-style.scss"; //Сброс стилей
@import "general-classes.scss"; //Все классы

//! begin
//! story_about_us
.story_about_us {
    .wrapper {
        margin-top: 90px;
        margin-bottom: 110px;
        .story_about_us-img {
            display: flex;
            .story_about_us-img-tra {
                position: relative;
                bottom: 0px;
                right: 0px;
                transition-duration: 1s;
            }
            .story_about_us-img-inside {
                position: relative;
                top: 10px;
                left: 100px;
            }
            .story_about_us-img-tra:hover {
                bottom: 10px;
                right: 10px;
            }
            .story_about_us-pc {
                max-width: 380px;
                background-color: $color-blue;
            }
            .story_about_us-pc-table {
                margin: 0 30px;
                max-width: 380px;
                background-color: $color-blue;
            }
            .story_about_us-table {
                max-width: 380px;
                background-color: $color-blue;
            }
        }
    }
}
.story_about_us-img-tra::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-image: $gradient;
}
