.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

/* 
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
    .box { @include transform(rotate(30deg)); } 
*/
.over-title {
  padding-bottom: 110px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: black;
}

.title {
  padding-bottom: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: black;
}
