@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.over-title {
  padding-bottom: 25px;
  font-family: "Kaushan Script", cursive;
  color: black;
}

@media (max-width: 767px) {
  .over-title {
    font-size: calc( 20px + 6.8 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .over-title {
    font-size: calc( 20px + 4 * (100vw / 1202));
  }
}

.title {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 26px + 6.8 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc( 26px + 4 * (100vw / 1202));
  }
}

header {
  background: url(../img/header-background.png) no-repeat center;
}

header .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e88182), to(#f1d98a)) no-repeat;
  background: linear-gradient(#e88182, #f1d98a) no-repeat;
  opacity: 0.9;
  z-index: 1;
}

header nav {
  top: 30px;
  position: fixed;
  width: 100%;
}

header nav .logo {
  font: bold 30px "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 767px) {
  header nav .logo {
    font-size: calc( 20px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header nav .logo {
    font-size: calc( 20px + 10 * (100vw / 1202));
  }
}

header nav ul {
  position: relative;
  bottom: 40px;
  left: 450px;
}

header nav ul li {
  display: inline-block;
  margin-left: 55px;
}

header nav ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 767px) {
  header nav ul li a {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header nav ul li a {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header nav ul li a img {
  display: inline-block;
}

header nav .c {
  display: none;
}

header nav .c #switch {
  display: none;
}

header nav .c #switch:checked ~ ul {
  display: block;
}

header nav .c .burger {
  height: 50px;
  width: 50px;
  background-color: red;
}

header nav .c .burger img {
  width: 40px;
}

header .big-over-title {
  padding-top: 220px;
  padding-bottom: 40px;
  font-family: "Kaushan Script", cursive;
  color: white;
}

@media (max-width: 767px) {
  header .big-over-title {
    font-size: calc( 15px + 96.9 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .big-over-title {
    font-size: calc( 15px + 57 * (100vw / 1202));
  }
}

header .big-title {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 70px;
  text-transform: uppercase;
  line-height: 140px;
  color: white;
}

@media (max-width: 767px) {
  header .big-title {
    font-size: calc( 30px + 204 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .big-title {
    font-size: calc( 30px + 120 * (100vw / 1202));
  }
}

header .line-one-header {
  height: 3px;
  width: 60px;
  background-color: white;
}

header .btn-header {
  margin-top: 50px;
  margin-bottom: 160px;
  display: inline-block;
  padding: 12px 30px;
  border: solid 2px white;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 767px) {
  header .btn-header {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .btn-header {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .lines-two-header div {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0px 15px;
  display: inline-block;
  height: 3px;
  width: 100%;
  max-width: 260px;
  background-color: white;
}

header .lines-two-header div p {
  display: inline-block;
}

@media (max-width: 767px) {
  header .lines-two-header div p {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .lines-two-header div p {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .lines-two-header div p span {
  font-weight: bold;
}

@media (max-width: 767px) {
  header .lines-two-header div p span {
    font-size: calc( 10px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .lines-two-header div p span {
    font-size: calc( 10px + 10 * (100vw / 1202));
  }
}

header .lines-two-header div:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, red), color-stop(99%, white));
  background: linear-gradient(90deg, red 1%, white 99%);
}

header .lines-two-text-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
}

header .lines-two-text-header p {
  display: inline-block;
}

@media (max-width: 767px) {
  header .lines-two-text-header p {
    font-size: calc( 8px + 10.2 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .lines-two-text-header p {
    font-size: calc( 8px + 6 * (100vw / 1202));
  }
}

header .lines-two-text-header p span {
  font-weight: bold;
}

@media (max-width: 767px) {
  header .lines-two-text-header p span {
    font-size: calc( 10px + 17 * ((100vw - 320px) / 1202));
  }
}

@media (min-width: 767px) {
  header .lines-two-text-header p span {
    font-size: calc( 10px + 10 * (100vw / 1202));
  }
}

header .lines-two-text-header .p1 {
  margin-left: 15px;
}

header .lines-two-text-header .p2 {
  margin-left: 215px;
}

header .lines-two-text-header .p3 {
  margin-left: 205px;
}

header .lines-two-text-header .p4 {
  margin-left: 205px;
}

@media (max-width: 1370px) {
  .wrapper {
    max-width: 1202px;
  }
  .wrapper .big-over-title {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
}

@media (max-width: 1202px) {
  .wrapper {
    max-width: 940px;
  }
  .wrapper nav ul li {
    margin-left: 20px;
  }
  .wrapper .big-over-title {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    max-width: 600px;
  }
  .wrapper nav ul {
    left: 150px;
  }
  .wrapper nav ul li {
    margin-left: 20px;
  }
  .wrapper .big-over-title {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 400px;
  }
  .wrapper nav ul {
    display: none;
  }
  .wrapper nav ul li {
    margin-left: 20px;
  }
  .wrapper nav .c {
    display: block;
  }
  .wrapper nav .c #switch {
    display: none;
  }
  .wrapper nav .c #switch:checked ~ ul {
    display: block;
  }
  .wrapper .big-over-title {
    padding-top: 140px;
    padding-bottom: 30px;
  }
  .wrapper .btn-header {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px 30px;
  }
}

@media (max-width: 470px) {
  .wrapper {
    max-width: 300px;
  }
}
