@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 1202px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

/* 
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
    .box { @include transform(rotate(30deg)); } 
*/
.over-title, header .big-over-title {
  padding-bottom: 110px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: black;
}

.title, header .big-title {
  padding-bottom: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: black;
}

header {
  background: url(../img/header-background.png) no-repeat center;
}

header .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e88182), to(#f1d98a)) no-repeat;
  background: linear-gradient(#e88182, #f1d98a) no-repeat;
  opacity: 0.9;
  z-index: 1;
}

header .logo {
  font: bold 30px "Montserrat", sans-serif;
  color: white;
}

header nav {
  margin-top: 30px;
  position: fixed;
}

header nav .d {
  float: right;
}

header nav .d ul {
  list-style-type: none;
}

header nav .d ul li {
  display: inline-block;
  margin-left: 55px;
}

header nav .d ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
}

header nav .d ul li a img {
  display: inline-block;
}

header .big-over-title {
  padding-top: 220px;
  padding-bottom: 35px;
  font-size: 72px;
  color: white;
}

header .big-title {
  padding-bottom: 70px;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 140px;
  color: white;
}

header .line-one-header {
  height: 3px;
  width: 60px;
  background-color: white;
}

header .btn-header {
  margin-top: 50px;
  margin-bottom: 160px;
  display: inline-block;
  padding: 12px 30px;
  border: solid 2px white;
  text-transform: uppercase;
  color: white;
}

header .lines-two-header div {
  position: relative;
  top: -100px;
  height: 3px;
  width: 260px;
  background-color: white;
}
